@mixin button-secondary { 
    display: inline; 
    padding: 9px 33px;
    background-color: $customGreen;
    border-radius: 0px;
    color: $customBlack;
    font-family: $openSansFont;
    font-size: 16px !important;
    border: none;
    font-size: small;
    border: 2px solid $customGreen;

    &::after {
        content: url('./media/arrow-right.svg');
        position: relative;
        top: 2px;
        left: 5px;
        color: inherit;
    }

    &:hover {
        color: $customGreen;
        background-color: $customWhite;
        &::after {
            content: url('./media/arrow-right.svg');
        }
    }
}