@mixin button-primary {
    display: inline; 
    padding: 9px 33px;
    background-color: $customBlue;
    border-radius: 0px;
    color: $customWhite;
    font-family: $openSansFont;
    font-size: $fontSmall !important;
    border: none;
    font-size: small;
    border: 2px solid $customBlue;

    &::after {
        content: url('./media/arrow-right.svg');
        position: relative;
        top: 2px;
        left: 5px;
        transition: 0.3s;
    }

    &:hover {
        color: $customBlack;
        background-color: $customWhite;
        &::after {
            left: 10px;
            transition: 0.3s;
        }
    }
}