h1,h2,h3,h4,h5,h6{
 font-family: $openSansFont;
}
p{
    font-family: $openSansFont;
    font-size: $fontSmall;
}

h1{
    font-size: $fontXlarge;
}
h2{
    font-size: $fontLarge;
}
h3{
    font-size: $fontMedium;
}
h4{
    font-size: $fontSmall;
}
h5{
    font-size: $fontSmall;
}
h6{
    font-size: $fontSmall;
}